AIW_WIFI_SSID=YOUR_WIFI_SSID
AIW_WIFI_PASSWORD=YOUR_WIFI_PASSWORD
AIW_BACKEND_BASE_URL=https://ai.youtirj.com
AIW_DEVICE_ID=espbox-001
AIW_DEVICE_NAME=ESP-BOX
AIW_HX711_DOUT_PIN=1
AIW_HX711_SCK_PIN=2
AIW_HX711_SCALE=1000.0
AIW_PRINTER_TX_PIN=41
AIW_PRINTER_RX_PIN=42
AIW_PRINTER_BAUD=9600
AIW_GACHA_PIN=-1
AIW_GACHA_ACTIVE_HIGH=1
AIW_GACHA_PULSE_MS=1200
AIW_AUDIO_ENABLED=0
AIW_I2S_BCLK_PIN=-1
AIW_I2S_LRCK_PIN=-1
AIW_I2S_DOUT_PIN=-1
AIW_I2S_MCLK_PIN=-1
AIW_PA_CTRL_PIN=-1
AIW_I2C_SDA_PIN=-1
AIW_I2C_SCL_PIN=-1
AIW_CODEC_I2C_ADDR=0x18
AIW_AUDIO_VOLUME=12
AIW_TOUCH_PIN=-1
AIW_TOUCH_THRESHOLD=0
